#chatMessages {
    border: solid;
    border-color: black;
    margin: 2rem;
    padding: 1rem;
}

#chatForm {
    border: solid;
    border-color: purple;
    padding: 1rem;
}

#newMessages {
    border: solid;
    border-color: pink;
    padding: 1rem;
}